In [6]:
import pandas as pd 
import numpy as np

In [3]:
from sklearn.preprocessing import LabelEncoder,OrdinalEncoder,OneHotEncoder,LabelBinarizer

# *Customized Data*

In [42]:
data={'type':['SUV','Sedan','Truck','Sedan','SUV','Truck'],
      'color':['red','green','blue','green','red','blue'],
      'power':['high','low','medium','low','high','medium'],
      'physical_type':['A','B','A','B','A','A'],
      'price':[10000,8000,12000,7500,11000,13000],
      'price_status':['up','down','up','down','up','up'],
      'Target':['yes','no','yes','no','yes','yes']}

In [43]:
df=pd.DataFrame(data)
df

    type  color   power physical_type  price price_status Target
0    SUV    red    high             A  10000           up    yes
1  Sedan  green     low             B   8000         down     no
2  Truck   blue  medium             A  12000           up    yes
3  Sedan  green     low             B   7500         down     no
4    SUV    red    high             A  11000           up    yes
5  Truck   blue  medium             A  13000           up    yes

# *Information about Data*

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   type           6 non-null      object
 1   color          6 non-null      object
 2   power          6 non-null      object
 3   physical_type  6 non-null      object
 4   price          6 non-null      int64
 5   price_status   6 non-null      object
 6   Target         6 non-null      object
dtypes: int64(1), object(6)
memory usage: 468.0+ bytes

# *بنعمل حصر لاسماء الاعمدة النصية*

In [45]:
categorical_columns=df.select_dtypes(include=['object']).columns.tolist()
categorical_columns

['type', 'color', 'power', 'physical_type', 'price_status', 'Target']

# *بنشوف عدد  القيم الفريدة داخل كل عمود نصي*

In [46]:
for col in categorical_columns:
    print(f"Number of unique values in column: {col}", df[col].nunique())

Number of unique values in column: type 3
Number of unique values in column: color 3
Number of unique values in column: power 3
Number of unique values in column: physical_type 2
Number of unique values in column: price_status 2
Number of unique values in column: Target 2

# *بنشوف بعنينا ونفهم القيم الفريدة الموجودة في كل عمود*

In [47]:
for col in categorical_columns:
    print(f"Unique values in column {col}", df[col].unique())

Unique values in column type ['SUV' 'Sedan' 'Truck']
Unique values in column color ['red' 'green' 'blue']
Unique values in column power ['high' 'low' 'medium']
Unique values in column physical_type ['A' 'B']
Unique values in column price_status ['up' 'down']
Unique values in column Target ['yes' 'no']

In [48]:
categorical_columns

['type', 'color', 'power', 'physical_type', 'price_status', 'Target']

# *شيلنا عمود التارجيت*

In [49]:
categorical_columns.remove('Target')

In [50]:
categorical_columns

['type', 'color', 'power', 'physical_type', 'price_status']

# *حددت اسماء الاعمدة اللي الترتيب فيها ليه معنا والعس*

In [ ]:
ordinal_cols = ['power', 'price_status']
nominal_cols = ['type', 'color', 'physical_type']

# استخدمت الكولمن ترنسفورمر عشان يسهل عليا الشغل

# تطبيق عمليات معالجة مختلفة على أعمدة مختلفة في نفس الوقت

# قبل اي حاجة حددت ترتيب القيم داخل كل عمود يهموا الترتيب

In [ ]:
power_order = ['low', 'medium', 'high']
price_status_order = ['down', 'up']

## استدعيت الكولمن ترنسفورمر وهطبقوا عشان يعالج اعمدة مختلفة في نفس الوقت

In [ ]:
from sklearn.compose import ColumnTransformer
#  خلي بالك عملت ترتيب للقيم بتاعتي 
preprocessor = ColumnTransformer(
    transformers=[
        ('nom', OneHotEncoder(), nominal_cols),
        ('ord', OrdinalEncoder(categories=[power_order, price_status_order]), ordinal_cols)
    ])

X_encoded = preprocessor.fit_transform(df)

### الناتج اللي طلع هو مصفوفةبدون اسماء اعمدة ، فحولتها لداتا فريم ورجعت اسماء الاعمدة

In [55]:
X_encoded=pd.DataFrame(X_encoded, columns=preprocessor.get_feature_names_out())

# وخلصنا كدا

In [56]:
X_encoded

,nom__type_SUV,nom__type_Sedan,nom__type_Truck,nom__color_blue,nom__color_green,nom__color_red,nom__physical_type_A,nom__physical_type_B,ord__power,ord__price_status
0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,2.0,1.0
1,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
2,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0
3,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
4,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,2.0,1.0
5,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0